<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Nercurio"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.eleomanni.nercurio/css/default.css">
         </property>
         <property
               name="appName"
               value="Nercurio">
         </property>
         <property
           name="lifeCycleURI"
           value="bundleclass://com.eleomanni.nercurio/com.eleomanni.nercurio.utils.NercurioLifeCycleManager">
         </property>
      </product>
   </extension>

</plugin>
